$fontClanProNews: 'ClanPro-News';
$fontClanProMedium: 'ClanPro-Medium';
$fontClanProBold: 'ClanPro-Bold';
$fontSizeOriginal: 13px;
$fontWeightBold: bold;

$yellow: yellow;
$background-white: #ffffff;
$background-gray: #ededed;
$background: #f3f3f3;
$header-background: white;
$background-yellow: #ffed00;
$primary-color: yellow;
$dark-text-color: #646464;
$light-text-color: #ffffff;
$title-text-color: gray;
$color-text-subcontent: #999999;
$btn-primary-bg: linear-gradient(to bottom, #fff465, #ffed00);
$btn-default-bg: linear-gradient(to bottom, #f8f8f8, #ededed);
$view-list-border: #f3f3f3;
$border-default: #e3e3e3;
$border-box-color: #d9d9d9;
$white: #ffffff;
$multi-table-header-bg: #f9f9f9;
$grey-text-color: #757575;
$border-error-red: red;
$color-red: #e2021a;
$black-color: #000000;